/* Minecraft colors */
.mc-black {
    color: #000000;
}

.mc-dark-blue {
    color: #0000aa;
}

.mc-dark-green {
    color: #00aa00;
}

.mc-dark-aqua {
    color: #00aaaa;
}

.mc-dark-red {
    color: #aa0000;
}

.mc-dark-purple {
    color: #aa00aa;
}

.mc-gold {
    color: #ffaa00;
}

.mc-gray {
    color: #aaaaaa;
}

.mc-dark-gray {
    color: #555555;
}

.mc-blue {
    color: #5555ff;
}

.mc-green {
    color: #55ff55;
}

.mc-aqua {
    color: #55ffff;
}

.mc-red {
    color: #ff5555;
}

.mc-light-purple {
    color: #ff55ff;
}

.mc-yellow {
    color: #ffff55;
}

.mc-white {
    color: #ffffff;
}

/* Text formatting */
.mc-bold {
    font-weight: bold;
}

.mc-italic {
    font-style: italic;
}

.mc-underlined {
    text-decoration: underline;
}

.mc-strikethrough {
    text-decoration: line-through;
}

.mc-underlined.mc-strikethrough {
    text-decoration: underline line-through;
}

.mc-obfuscated {
    display: inline-block;
}
